
/* {
    transition-property: color, background-color, border-color, background-image, padding, border-width;
    transition-duration: 2s;
    
}
*/


.window {
     background-color: #191F26;
     border: 1px solid black;

 /*   background: linear-gradient(153deg, #151515, #151515 5px, transparent 5px) 0 0,
                linear-gradient(333deg, #151515, #151515 5px, transparent 5px) 10px 5px,
                linear-gradient(153deg, #222, #222 5px, transparent 5px) 0 5px,
                linear-gradient(333deg, #222, #222 5px, transparent 5px) 10px 10px,
                linear-gradient(90deg, #1b1b1b, #1b1b1b 10px, transparent 10px),
                linear-gradient(#1d1d1d, #1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
 
    background-size: 20px 20px;
    */
}

.button {
    
    border-radius: 10px;
    font: bold 15px Ubuntu;
    font-style: normal;
  /*  border: 2px solid red;
    color: #00008B;                                   
    background-color: green;
    background-image:none;*/
    color: black;
    background-color: #101;
    border-style: solid;
    border-width: 2px;
    border-color: #000;
    padding: 12px 4px;
}

.button:hover{
  box-shadow: inset 0 0 0 3px white,0 4px 6px white;
  background-image: radial-gradient(ellipse at center, lightgrey 20%, white 50%);
    
    
}

.BotonPosicion  {
 
  text-shadow: black;
  
  box-shadow: inset 0 0 0 1px #27496d;
  border: none;
  
  background-image: radial-gradient(ellipse at center, yellow 0%, green 100%);
  border-radius: 500px;
    
    
    
}

.BotonPosicion:hover{
background-color: red;
  box-shadow: inset 0 0 0 3px black,0 5px 15px black;
    
    
}
    
.BotonPosicion:checked{
  /*box-shadow: inset 0 0 0 1px red,0 5px 15px red;   */ 
  background-image: radial-gradient(ellipse at center, yellow 0%, red 100%);

}


.ListaPaciente{
    background-image: url("logofiuner.png");
    background-repeat: no-repeat;
    background-position:center;
}
.ListaPaciente .hide_bg {
    background-image:none;
}

    

/*.button {
  padding: 30;
  background-color: shade (@bg_color, 55);
}*/
